@main(title = "Customer Feedback Service") {
    
    <h1>Welcome to the Customer Feedback Service!</h1>
    
    The Customer Feedback Service allows you to easily add product customer reviews to your website.
    Using our simple RESTful API, you can store and retrieve product reviews, allow users to indicate the
    helpfulness of reviews, and much more.
    <p>
    The Customer Feedback Service also provides analytics for your product reviews.  Want to know your best
    reviewed products?  Need to identify problems and trends early?  The Customer Feedback Service can help!
    
    <h2><a href="@routes.Application.clientForm">Sign up now!</a></h2>

    <br/><br/>
    
}
